build/
build-release/
cmake-build-debug/
cmake-build-release/
out/
bin/

CMakeCache.txt
CMakeFiles/
cmake_install.cmake
install_manifest.txt
*.cmake
!conan_toolchain.cmake
!CMakeLists.txt
CMakeUserPresets.json

conan_toolchain.cmake
conan_provider.cmake
conanbuildinfo.*
conanrunenv*
conanbuildenv*
graph_info.json

.vscode/
.idea/
.vs/


phonebook-service
run_tests
run_benchmarks
*.exe
*.dll
*.so
*.dylib
*.a
*.lib



